<ion-tabs class="tabs-icon-top tabs-color-active-positive" animation="slide-left-right">

  <!-- Person Tab -->
  <ion-tab title="Person" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/person">
    <ion-nav-view name="tab-person"></ion-nav-view>
  </ion-tab>

  <!-- Movie Tab -->
  <ion-tab title="Movie" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/movie">
    <ion-nav-view name="tab-movie"></ion-nav-view>
  </ion-tab>

  <!-- Custom Tab -->
  <!--
  <ion-tab title="Custom" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/custom">
    <ion-nav-view name="tab-custom"></ion-nav-view>
  </ion-tab>
  -->

  <!-- Result Tab -->
  <ion-tab title="Result" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/result/">
    <ion-nav-view name="tab-result"></ion-nav-view>
  </ion-tab>

</ion-tabs>
