<!-- Task -->
<h5>Task</h5>
<div id="person-task-container">
  <label class="item item-input">
    <input type="text" placeholder="What is the task? (E.g. go buy snacks)" ng-model="settings.task">
  </label>
</div>

<!-- Add new person -->
<h5>Add a new person</h5>
<div class="item item-input">
  <input class="item-input-wrapper" type="text" placeholder="Name" ng-model="settings.newName">
  <button class="button button-positive button-small button-add"
          ng-click="addName(settings.newName)">
    <i class="icon ion-plus-round" id="icon-add"></i>
  </button>
</div>

<!-- Person list -->
<div class="list list-inset" id="person-name-list-container" ng-if="nameList.length">
  <div ng-if="nameList.length > 0" ng-repeat="name in nameList">
    <div class="item randomize-list-item">
      {{name}}
      <i class="ion-ios-close-outline randomize-list-item-delete"
         ng-click="removeName(name)"></i>
    </div>
  </div>
</div>

<br ng-if="nameList.length === 0" />

<!-- Toggle single/multi people to do task -->
<div class="list">
  <ul>
    <li class="item item-toggle">
      Multiple people
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="settings.isMulti">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
  </ul>
</div>

<div class="list" ng-if="settings.isMulti && nameList.length > 2">
  <div class="item range range-positive">
    1
    <input type="range" name="NrOfPeopleRange"
           min="1"
           max="{{nameList.length - 1}}"
           value="{{settings.nrOfPeople}}"
           ng-model="settings.nrOfPeople">
    {{nameList.length - 1}}
  </div>
  <h5 id="person-randomize-nr-of-persons">{{settings.nrOfPeople}} {{settings.nrOfPeople === 1 ? 'person' : 'persons'}} will do the task</h5>
</div>

<button class="button button-full button-positive"
        id="person-randomize-button" ng-click="getRandomName()">
  Randomize
</button>
