/* Common */
#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  margin: 0;
  padding: 0;
  z-index: 99;
  display: none;
}

#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

#loading-spinner svg {
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

/* Person template */
#person-button-add {
  margin-right: 5px;
  width: 40px;
}

/* Result */
#result-task-container {
  text-align: center;
}

#result-winners-container {
  text-align: center;
}

#result-winners-title {
  margin-bottom: 0;
}

.result-icon {
  font-size: 30px;
}

#result-missing-info {
  text-align: center;
  margin-top: 50%;
}

#result-missing-info i {
  font-size: 60px;
}

#result-missing-info h3 {
  margin-top: 8px;
}

.item h2 {
  margin-top: 5px;
}

/* Randomize directive */
#person-name-list-container {
  margin-top: 0;
}

.randomize-list-item {
  padding: 10px;
}

.randomize-list-item-delete {
  float: right;
  font-size: 20px;
}

#person-randomize-nr-of-persons {
  text-align: center;
}

#icon-add::before {
  font-size: 18px;
}
