/* Common */
#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  margin: 0;
  padding: 0;
  z-index: 99;
  display: none;
}

#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

#loading-spinner svg {
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.button-add {
  margin-right: 5px;
  width: 40px;
}

/* Result */
#result-task-container {
  text-align: center;
}

#result-winners-container {
  text-align: center;
}

#result-winners-title {
  margin-bottom: 0;
}

.result-icon {
  font-size: 30px;
}

#result-missing-info {
  text-align: center;
  margin-top: 50%;
}

#result-missing-info i {
  font-size: 60px;
}

#result-missing-info h3 {
  margin-top: 8px;
}

.item h2 {
  margin-top: 5px;
}

/* Result movie */
#result-header-container {
  padding-left: 50px;
}

#result-movie-rating-container {
  margin-right: 21px;
}

#result-movie-title-small {
  display: inline-block;
  margin: 0;
  width: 252px;
  font-size: 22px;
  font-weight: 500;
}

#result-movie-title-large {
  display: inline-block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  line-height: 36px;
}

#result-movie-poster {
  height: 370px;
  width: auto;
  margin: 10px;
}

#result-movie-description {
  max-height: 100px;
  white-space: normal;
}

#result-movie-rating {
  font-size: 17px;
  position: absolute;
  top: 14px;
  left: 17px;
  color: white;
}

#icon-rating {
  position: absolute;
  left: 7px;
  color: black;
  top: 0;
  font-size: 54px;
  z-index: -1;
}

/* Randomize task directive */
#person-name-list-container {
  margin-top: 0;
}

.randomize-list-item {
  padding: 10px;
}

.randomize-list-item-delete {
  float: right;
  font-size: 20px;
}

#person-randomize-nr-of-persons {
  text-align: center;
}

#person-button-add {
  margin-right: 5px;
  width: 40px;
}

#icon-add::before {
  font-size: 18px;
}

/* Randomize movie directive */
.button-add {
  margin-right: 5px;
  width: 40px;
}
